{% extends "base.html" %} {% block content %}
<div class="row row-content">
    <div class="col-xs-12">
        <h2>Right now</h2>
        <ul class="tab-pane fade in active">
            {% for item in readings %}
            <div class="row">
                <table class="table">
                    <h3>{{item.location/name}} <i class="wi {{item.readings/icon}}"></i></h3>
                    <tbody>
                        <tr>
                            <td>Week forecast:</td>
                            <td>{{item.readings/week-summary}}</td>
                        </tr>
                        <tr>
                            <td>Day forecast:</td>
                            <td>{{item.readings/day-summary}}</td>
                        </tr>
                        <tr>
                            <td>Sunrise/Sunset:</td>
                            <td>{{item.readings/sunrise|date:"HH:mm:ss"}} / {{item.readings/sunset|date:"HH:mm:ss"}}</td>
                        </tr>
                        <tr>
                            <td>Max Temperature:</td>
                            <td>{{item.readings/temperature-max}} °C</td>
                        </tr>
                        <tr>
                            <td>Temperature:</td>
                            <td>{{item.readings/temperature}} °C</td>
                        </tr>
                        <tr>
                            <td>Wind speed:</td>
                            <td> {{item.readings/wind-speed}} km/hr {{item.wind-direction}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% endfor %}
        </ul>
    </div>
     <div class="col-sm-3 col-sm-push-9">
        <time>@ {{created-at|date:"yyyy-MM-dd HH:mm:ss"}}</time>
     </div>
</div>
{% endblock %}

<!-- TODO add seperator for forecast vs current" -->
