{% extends "base.html" %} {% block content %}
<div class="row row-content">
  <div class="col-xs-12">
    <h2>Right now</h2>
    <ul class="tab-pane fade in active">
      {% for item in readings %}
      <div class="row">
        <table class="table">
          <h3>{{item.location}} <i class="wi {{item.icon}}"></i></h3>
          <tbody>
            <tr>
              <td>Week forecast:</td>
              <td>{{item.week-summary}}</td>
            </tr>
            <tr>
              <td>Day forecast:</td>
              <td>{{item.day-summary}}</td>
            </tr>
            <tr>
              <td>Sunrise/Sunset:</td>
              <td>{{item.sunrise|date:"HH:mm:ss"}} / {{item.sunset|date:"HH:mm:ss"}}</td>
            </tr>
            <tr>
              <td>Max Temperature:</td>
              <td>{{item.temperature-max|double-format:1}} °C</td>
            </tr>
            <tr>
              <td>Temperature:</td>
              <td>{{item.temperature|double-format:2}} °C</td>
            </tr>
            <tr>
              <td>Wind speed:</td>
              <td> {{item.wind-speed|double-format:2}} km/hr {{item.wind-direction}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      {% endfor %}
    </ul>
  </div>
  <div class="col-sm-3 col-sm-push-9">
    <time>@ {{date|date:"yyyy-MM-dd HH:mm:ss"}}</time>
  </div>
</div>
{% endblock %}

<!-- TODO add seperator for forecast vs current" -->
