{% extends "base.html" %} {% block content %}
<div class="row row-content">
  <div class="col-xs-12">
    <!-- <h2>Right now</h2> -->
    <ul class="tab-pane fade in active">
      {% for item in readings %}
      <div class="row">
        <table class="table">
          <h3>{{item.location}} <i class="wi {{item.icon}}"></i></h3>
          <tbody>
            <tr>
              <td>forecast</td>
              <td>week</td>
              </td>
              <td>{{item.week-summary}}</td>
            </tr>
            <tr>
              <td></td>
              <td>day</td>
              <td>{{item.day-summary}}</td>
            </tr>
            <tr>
              <td>sunrise/sunset</td>
              <td></td>
              <td>{{item.sunrise|date:"HH:mm:ss"}} / {{item.sunset|date:"HH:mm:ss"}}</td>
            </tr>
            <tr>
              <td>temp</td>
              <td>max</td>
              <td>{{item.temperature-max|double-format:1}} °C</td>
            </tr>
            <tr>
              <td></td>
              <td>now</td>
              <td>{{item.temperature|double-format:1}} °C</td>
            </tr>
            <tr>
              <td>wind</td>
              <td></td>
              <td> {{item.wind-speed|double-format:1}} km/hr - {{item.wind-direction}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      {% endfor %}
    </ul>
  </div>
  <div class="col-xs-12">
    <time>latest @ {{date|date:"yyyy-MM-dd HH:mm:ss"}}</time>
  </div>
</div>
{% endblock %}
